.icon-btn {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    position: absolute;
    right: 0;
    bottom: 13px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}